---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

.page__hero--overlay{
    background-position: top right !important; 
}

//TODO would be great to try to get merriweather working
$serif: Georgia, Times, serif !default;
$global-font-family : $serif !default;


@import "minimal-mistakes"; // main partials


html {
    font-size: 16px; // change to whatever
  
    @include breakpoint($medium) {
      font-size: 18px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 19px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 20px; // change to whatever
    }
  }

//shrink the main article font, and give it extra spacing.
//TODO maybe would be nice to avoid the font size reduction when really small? Like mobile
  .page__content {

    p,
    li,
    dl {
      line-height: 1.75;
      font-size: .9em;
    }
  }

  //make codeblock line height tighter, that way spaces can be used to break things up better
  div.highlighter-rouge,
  figure.highlight {
    line-height: 1.45;
  }